.main_container {
	margin: 0;
}

#pagination {
	background-color: rgba(3, 3, 3, 0.7);
	border-radius: 4px;
	bottom: 85px;
	color: #fff;
	font-size: 14px;
	left: 0;
	margin: auto;
	padding: 15px;
	position: fixed;
	right: 0;
	width: 738px;
	z-index: 3
}

#pagination a {
	color: #fff;
}

#pagination p:last-child b {
	background-color: #eee;
	color: #333;
	padding: 5px;
	margin: 5px;
	border-radius: 4px;
}

.cover {
	height: 400px;
	overflow: hidden;
	width: 282px;
}
.cover img {
	height: 400px;
	position: absolute;
}
.topic_info {
	background: rgba(1, 1, 1, 0.6);
	bottom: 0;
	font-size: 12px;
	padding: 15px;
	position: absolute;
}
.topic_info a {
	color: #fff;
	font-weight:bold;
	text-decoration: none;
}
.topic_wrap {
	display: inline-block;
	border-radius: 4px;
	height: 400px;
	margin: 9px;
	overflow: hidden;
	position: relative;
	width: 282px;
}

.img_pos_button {
	cursor: pointer;
	z-index: 2;
	color: #fff;
	padding: 2px;
	border: 2px solid #fff;
	border-radius: 4px;
	background: rgba(1, 1, 1, 0.6);
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 5px; right: 5px;
}

.download {
	position: absolute;
	top: 10px;
	right: 42px;
	color: #fff;
	font-weight: bold;
	background-color: #c31cc1;
	padding: 5px;
	border-radius: 4px;
}

.download .dl,
.download .dl:active,
.download .dl:focus {
	color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}